<h1 class="page-header">DTS Graph <span id="loader-icon" ng-class="isLoading" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</h1>
  <div id="dts-graph-result">
    <svg ng-attr-width="{{graph.width}}" ng-attr-height="{{graph.height}}">
      <g ng-attr-transform="{{graph.formatTranslate(graph.nodes[0].label.length*7, 0)}}">
        <path ng-repeat="link in graph.links" class="link" ng-attr-d="{{link.d}}"/>
        <g ng-repeat="node in graph.nodes" class="node" ng-attr-transform="{{graph.formatTranslate(node.y, node.x)}}">
          <circle r="4.5"/>
          <text ng-if="node.children.length" ng-click="getTaxoDoc(node.uri)" dx="-8" dy="5" text-anchor="end">{{node.label}}</text>
          <text ng-if="!node.children.length" ng-click="getTaxoDoc(node.uri)" dx="8" dy="5" text-anchor="start">{{node.label}}</text>
        </g>  
      </g>      
    </svg>
  </div>
