.loading {
    visibility: visible !important;
    -animation: fade 1s infinite linear;
    -moz-animation: fadem 1s infinite linear;
    -webkit-animation: fadew 1s infinite linear;  
    -o-animation: fade 1s infinite linear;
}

@keyframes fade {
    from { color: white;}
    to { color: black;}
}

@-webkit-keyframes fadew {
    from { color: white; }
    to { color: black; }
}
 
@-moz-keyframes fadem {
    from { color: white; }
    to { color: black; }
}

#loader-icon {
  visibility: hidden;
  padding: 20px;
}