@(title: String)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("stylesheets/dashboard.css")" rel="stylesheet">

    <!-- Styles needed for d3 visualization -->
    <link href="@routes.Assets.at("stylesheets/viz-sheets/viz.css")" rel="stylesheet">
    
    <!-- Styles for typeahead -->
    <link href="@routes.Assets.at("stylesheets/typeahead.css")" rel="stylesheet">

    <!-- Styles for animations -->
    <link href="@routes.Assets.at("stylesheets/animations.css")" rel="stylesheet">
    
    <!-- Styles for displaying the XML files-->
    <link href="@routes.Assets.at("bower_components/highlightjs/styles/github.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Taxoscope</a>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar" ng-controller="NavCtrl">
          <form class="navbar-form navbar-left">
            <div id="entrypoint-select">
              <input type="text" ng-model="selectedEntrypoint" placeholder="Select entrypoint..." typeahead="uri for uri in getEntrypoints($viewValue)" typeahead-on-select="selectEntrypoint($item, $model, $label)" typeahead-min-length="3" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller="MainCtrl">
      <div class="row">
        <div class="col-md-1 hidden-sidebar" ng-hide="showSidebar">
          <ul id="viewer-selection" class="nav nav-sidebar">
            <button type="button" class="btn sidebar-btn-show" aria-label="Collapse sidebar" ng-click="toggleSidebar()">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 sidebar" ng-show="showSidebar">
          <ul id="viewer-selection" class="nav nav-sidebar">
            <li>
              <button type="button" class="btn sidebar-btn-hide" aria-label="Collapse sidebar" ng-click="toggleSidebar()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              </button>
            </li>
            <li ng-repeat="menuItem in menuItems" ng-class="{active: isActive(menuItem)}">
             <a href="" ng-click="routeMenuItem(menuItem)"><span ng-bind="menuItem.label"></span></a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 main" ng-class="mainOffset" id="content">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-main="@routes.Assets.at("javascripts/main.js")" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
  </body>
</html>
